/* Register.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-image: url('https://imgs.search.brave.com/YyiiEj-l_bpLIfn4Uio1WeHrxi2fKSfiJCk_YcIhyXs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMjAz/NjQ4NTEzOC9waG90/by9tZW1iZXItbG9n/aW4ud2VicD9iPTEm/cz0xNzA2NjdhJnc9/MCZrPTIwJmM9X3hs/Q0xpNG1kTmR6R05q/ZDFWcXFxY1pDdUxk/bDU1NHVvM19wcWFT/eGM3Zz0');
    background-position: center; 
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  .navbar {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type='submit'] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type='submit']:hover {
    background-color: #45a049;
  }
  
  .link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  